
body{
    background-image: url(/img/Colored-Patterns.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

*:focus{
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    text-align: center;
    padding:auto 0px ;




}



input:focus,
button:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
} 