
body{
    background-image: url(/img/Colored-Patterns.svg);
    background-size: cover;
    background-repeat: no-repeat;

}

*:focus{
    outline: none;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;

    align-items: center;
    row-gap: 1rem;
 
}
.wrapper{
    text-align: center;
    padding:auto 0px ;




}



input:focus,
button:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
} 

.figure-container{
    fill:transparent;
    stroke: rgb(242, 239, 239);
    stroke-width: 6px;
    stroke-linecap: round;

}

.figure-part{
    display:none;
}